<div class="row">
    <div class="col-md-8" style="padding-left: 30%; padding-top: 5%;">
        <div class="card">
            <div class="card-header">
                <!-- title -->
                <h1>Todo list</h1>
            </div>
            <div class="card-body">
                <form (submit) = "addTodo()">
                    <div class="row">
                        <input placeholder="To-do item" type="text"  name="input1" [(ngModel)] = "input1" class="form-control"/>
                        <button mat-raised-button class=" todo-submit" type="submit" value="Add To-do" > Add to the List</button>
                    </div>
                </form>
                <br>
                <br>
                <mat-slide-toggle (on) ="toggleHide()" style="color: white;">Filter unfinished tasks</mat-slide-toggle>
                <div class="todos body">
                    <div *ngFor="let todo of todos; let i = index;" class="todo">
                        <input id='label-{{ i + 1 }}' type='checkbox' />
                        <label for='label-{{ i + 1 }}'>  
                        <h2 class="content" (click) = "toggleDone(i)">
                            {{todo.header}}
                        </h2>   
                        </label>
                        <br>
                    </div>
                  </div>
            </div>
           
          </div>
    </div>
</div>
  